html{
  font-size: 14px;
}
body, ul, h1, h2, h3, h4, h5, h6, p, pre{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: initial;
}

:root{
  --main-color: #464DE5;
  --main-font-color: #131926;
  --main-color-bg-gray: #0B243E1A;
  --main-color-font-gray: #AAB3BC;
  --main-color-font-error: #b00101;

  --table-header-bg: #F5F6F7;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
